.homepage__container {
  /* background-color: red; */
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: end;
  height: 100vh;
}
.homepage__hands-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  background-color: yellow;
  overflow: hidden;
}
