/* .test{
  display:grid;
  align-items: ;
} */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0 auto;
  height: 100vh;
  background-image: url("/src/pictures/background.png");
  background-size: 35%;
  max-width: 375px;
}
